.outline {
    height          : 70vh;
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: cornflowerblue;
    position        : relative;

    .slider {
        height         : 400px;
        display        : flex;
        justify-content: center;
        align-items    : center;
    }

    .containerSlider {
        position: absolute;
        width   : 85vw;
        height  : 250px;

        @media (max-width: 320px) {
            height: 150px;
        }

        display            : flex;
        justify-content    : center;
        align-items        : center;
        opacity            : 1;
        transition-duration: 1s;
        transform          : scale(1.08);

        .paper {
            height         : 100%;
            width          : 40%;
            min-width      : 200px;
            display        : flex;
            justify-content: center;
            align-items    : center;


        }

        .paper2 {
            height             : 100%;
            width              : 40%;
            min-width          : 200px;
            display            : flex;
            justify-content    : center;
            align-items        : center;
            transition-duration: 1s;
            transform          : scale(1.08);

        }
    }

    .containerSlider2 {
        position           : absolute;
        width              : 85vw;
        height             : 250px;
        display            : flex;
        justify-content    : center;
        align-items        : center;
        opacity            : 0.3;
        transition-duration: 1s;

        @media (max-width: 320px) {
            height: 150px;
        }
    }

    .sliderProgress {
        background-color: lightgrey;
        width           : 20%;
        height          : 2px;
        position        : absolute;
        bottom          : 15%;
    }

    @media (max-height: 600px) {
        .sliderProgress {
            background-color: lightgrey;
            width           : 20%;
            height          : 2px;
            position        : absolute;
            bottom          : 4%;
        }
    }



}