@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.bio {
    /*background-color: rgb(255, 131, 131);*/
    background-color: rgb(211, 180, 146);
    display         : flex;
}

.left {
    display         : flex;
    height          : 20vw;
    min-height      : 150px;
    min-width       : 150px;
    justify-content : center;
    align-items     : center;
    flex            : 35%;
    overflow        : hidden;
    background-color: rgb(140, 138, 255);
    overflow        : hidden;
    border-radius   : 0px 0px 40% 0px;
}

.right {
    flex            : 65%;
    display         : flex;
    align-items     : center;
    justify-content : flex-start;
    height          : 20vw;
    min-height      : 150px;
    background-color: rgb(140, 138, 255);
    border-radius   : 0px 0px 0px 40%;
}

.container {
    height             : 12vw;
    width              : 12vw;
    min-height         : 100px;
    min-width          : 100px;
    display            : flex;
    justify-content    : center;
    align-items        : center;
    transform-style    : preserve-3d;
    transition-duration: 0.5s;
}

.containerAnime {
    height             : 12vw;
    width              : 12vw;
    min-height         : 100px;
    min-width          : 100px;
    display            : flex;
    justify-content    : center;
    align-items        : center;
    transform-style    : preserve-3d;
    transition-duration: 0.5s;
    transform          : rotateY(180deg);
}

.infoPaperLeft {
    flex            : 50%;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    background-color: rgb(224, 224, 224);
    border-radius   : 20px 0px 0px 20px;
    pointer-events  : none;
}

.infoPaperRight {
    flex            : 50%;
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: rgb(142, 210, 255);
    border-radius   : 0px 20px 20px 0px;
    pointer-events  : none;
}

.infoPaperLeftTop {
    height          : 50%;
    display         : flex;
    justify-content : center;
    align-items     : center;
    border-radius   : 20px 0px 0px 0px;
    background-color: rgb(142, 210, 255);
}

.infoPaperLeftBottom {
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: rgb(142, 210, 255);
    height          : 100%;
    width           : 100%;
    border-radius   : 0px 0px 0px 20px;
    pointer-events  : none;
}

#bioimg {
    height          : 100%;
    width           : 100%;
    background-color: #FFF8DC;
    border-radius   : 10px;
}

.infoPaperBack {
    display         : flex;
    justify-content : center;
    align-items     : center;
    height          : 100%;
    width           : 100%;
    border-radius   : 20px;
    background-color: #9e8fb2;
    background-image: linear-gradient(315deg, rgb(211, 180, 146) 0%, #6978ff 74%);
    font-size       : smaller;

}

h1 {
    font-size: 2vw;
}

h2 {
    font-size: 2vw;
}

h3 {
    font-size: 1vw;
}

h4 {
    font-size: 1vw;

}

h1,
h2,
h3,
h4 {
    font-family: 'Oswald', sans-serif;
}

.textContainer {
    display        : flex;
    justify-content: center;
    flex-direction : column;
    margin-left    : 10%;
    height         : 50%;
    width          : 60%;
}

h1:hover,
h2:hover,
h3:hover,
h4:hover {
    color: #bdc4ff;
}

@media (max-width: 708px) {

    h1 {
        font-size: 100%;
    }

    h2 {
        font-size: 80%;
    }

    h3 {
        font-size: 60%;
    }

    h4 {
        font-size: 40%;
    }
}