.bio {
    background-color: rgb(255, 131, 131);
    display         : flex;
}

.left {
    display         : flex;
    height          : 20vw;
    min-height      : 150px;
    min-width       : 150px;
    justify-content : center;
    align-items     : center;
    flex            : 35%;
    overflow        : hidden;
    background-color: rgb(140, 138, 255);
    overflow        : hidden;
    border-radius   : 0px 0px 40% 0px;
}

.right {
    flex            : 65%;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    height          : 20vw;
    min-height      : 150px;
    background-color: rgb(140, 138, 255);
    border-radius   : 0px 0px 0px 40%;
}

.textContainer {
    margin-left: 5%;
}

.container {
    height             : 12vw;
    width              : 12vw;
    min-height         : 100px;
    min-width          : 100px;
    display            : flex;
    justify-content    : center;
    align-items        : center;
    transform-style    : preserve-3d;
    transition-duration: 0.5s;
}

.containerAnime {
    height             : 12vw;
    width              : 12vw;
    min-height         : 100px;
    min-width          : 100px;
    display            : flex;
    justify-content    : center;
    align-items        : center;
    transform-style    : preserve-3d;
    transition-duration: 0.5s;
    transform          : rotateY(180deg);
}

.infoPaperLeft {
    flex            : 50%;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    background-color: antiquewhite;
    border-radius   : 20px 0px 0px 20px;
    pointer-events  : none
}

.infoPaperRight {
    flex            : 50%;
    background-color: beige;
    border-radius   : 0px 20px 20px 0px;
    pointer-events  : none
}

.infoPaperLeftTop {
    height         : 50%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    border-radius  : 20px 0px 0px 0px;
}

.infoPaperLeftBottom {
    background-color: rgb(255, 219, 219);
    height          : 100%;
    width           : 100%;
    border-radius   : 0px 0px 0px 20px;
    pointer-events  : none
}

#bioimg {
    height          : 100%;
    width           : 100%;
    background-color: rgb(226, 238, 255);
    border-radius   : 10px;
}

.infoPaperBack {
    display         : flex;
    justify-content : center;
    align-items     : center;
    height          : 100%;
    width           : 100%;
    border-radius   : 20px;
    background-color: burlywood;
    font-size       : smaller;

}

h4 {
    font-size: 50%;
}

h3 {
    font-size: 100%;
}

h2 {
    font-size: 100%;
}

h1 {
    font-size: 100%;
}