.frontpage {
    padding: 5%;
    width  : 100vw;
}

.description {
    height         : 25vh;
    width          : 60%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    max-width      : 720px;
    border-radius  : 8px;
    background     : linear-gradient(to right top, rgb(255, 255, 255), rgba(255, 255, 255, 0.5));
}

.personal-projects-container {
    background-color: $front-page-bg-color;
    display         : flex;
    flex-direction  : column;
    padding         : 5%;
}