@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.personal-bio-wrapper {
    background-color: #9e8fb2;
    display         : flex;

    .personal-bio-left {
        display        : flex;
        height         : 20vw;
        min-height     : 150px;
        min-width      : 150px;
        justify-content: center;
        align-items    : center;
        flex           : 35%;
        overflow       : hidden;
        background     : linear-gradient(to right, rgb(0, 0, 0), #28282B);
        overflow       : hidden;
        border-radius  : 0px 0px 35% 0px;
        perspective    : 500px;

        .personal-bio-flipper-container {
            height             : 14vw;
            width              : 12vw;
            min-height         : 100px;
            min-width          : 100px;
            display            : flex;
            justify-content    : center;
            align-items        : center;
            transform-style    : preserve-3d;
            transition-duration: 0.5s;
            border-radius      : 15px;

            .personal-bio-flipper-front {
                height       : 100%;
                width        : 100%;
                display      : flex;
                border-radius: 30px;
                position     : absolute;
                cursor       : pointer;
                background   : transparent;
            }

            .personal-bio-flipper-back {
                display         : flex;
                justify-content : center;
                align-items     : center;
                height          : 100%;
                width           : 100%;
                border-radius   : 15px;
                background-color: #9e8fb2;
                transform       : rotateY(180deg);
                cursor          : pointer;
            }

            #bioimg {
                height          : 100%;
                width           : 100%;
                background-color: #FFF8DC;
                border-radius   : 15px;
            }

        }
    }

    .personal-bio-right {
        flex           : 65%;
        display        : flex;
        align-items    : center;
        justify-content: flex-start;
        height         : 20vw;
        min-height     : 150px;
        background     : linear-gradient(to left, #28282B, #28282B);
        border-radius  : 0px 0px 0px 35%;

        .personal-bio-right-description {
            display        : flex;
            justify-content: center;
            flex-direction : column;
            margin-left    : 10%;
            height         : 50%;
            width          : 60%;
        }
    }

}


h1,
h2 {
    font-size: 2vw;
}


h1,
h4 {
    font-family: 'Oswald', sans-serif;
    color      : #ffffff;
}

@media (max-width: 708px) {

    h1 {
        font-size: 100%;
    }

    h4 {
        font-size: 40%;
    }
}