@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0%;
    scrollbar-width: none;
    -webkit-font-smoothing: antialiased;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    overflow-x: hidden;
}

.personal-projects-row {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    height: 40vh;
}

.personal-projects-row__left {
    flex: 65%;
    display: flex;
    flex-direction: column;
    margin: 3%;
}

.personal-projects-description {
    flex: 80%;
    display: flex;
    overflow: auto;
    word-wrap: break-word;
    font-size: 1rem;
    align-items: center;
}

.personal-projects-description-footer {
    flex: 20%;
    display: flex;
    font-size: 0.8rem;
    color: rgb(146, 201, 255);
}

.personal-projects-description-footer-image {
    height: 30px;
    width: 30px;
    margin: 2%;
}

@media (max-width: 425px) {
    .personal-projects-description {
        overflow: auto;
        word-wrap: break-word;
        font-size: 0.7rem;
    }

    .personal-projects-description-footer {
        font-size: 0.6rem;
    }
}

.personal-projects-row__right {
    flex: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
}

.personal-projects-image {
    height: 80%;
    max-height: 260px;
    width: 100%;
    max-width: 400px;
    transform: skewy(-5deg);
    box-shadow: 0px 0px 20px rgb(186, 186, 186);
    image-rendering: optimizeQuality;
    border-radius: 5px;
}

.description {
    height: 25vh;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    border-radius: 8px;
    background: linear-gradient(to right top, #ffffff, rgba(255, 255, 255, 0.5));
}

.personal-projects-header {
    font-size: 3rem;
    font-weight: 600;
    color: #000000;
}

.personal-projects-header-small {
    font-size: 1rem;
    color: #000000;
}

.personal-projects-container {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.outline .sliderProgress {
    background-color: lightgrey;
    width: 20%;
    height: 2px;
    position: absolute;
    bottom: 15%;
}

@media (max-height: 600px) {
    .outline .sliderProgress {
        bottom: 4%;
    }
}

.personal-bio-wrapper .personal-bio-right {
    flex: 65%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 20vw;
    min-height: 150px;
    border-radius: 0px 0px 0px 35%;
    color: #ffffff;
}

.personal-bio-wrapper .personal-bio-right .personal-bio-right-description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 5%;
    height: 50%;
    width: 60%;
    color: #28282b;
}

@media (max-width: 708px) {
    h1 {
        font-size: 100%;
    }
    h4 {
        font-size: 40%;
    }
}

.tech-skills-display-container {
    height: 60%;
    width: 90%;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tech-skills-display-container-header {
    flex: 20%;
    display: flex;
    align-items: center;
    color: #28282b;
}

.tech-skills-display-top {
    flex: 35%;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tech-skills-display-bottom {
    flex: 35%;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tech-skills-display-bottom-img {
    height: 50px;
    width: 50px;
    padding: 5px;
}

.tech-skills-display-bottom-img:hover {
    transform: scale(1.25);
}

@media (min-width: 426px) {
    .tech-skills-display-container {
        width: 45%;
    }
}
